@import "alert";

#root {
    &.alert {
        animation-name: bonkers;
        animation-delay: 1s;
        animation-duration: 10s;
        animation-iteration-count: 5;
    }

    height: 100vh;
}
.main-container {
    padding-top: 1rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;

    .banner {
        font-size: 1.3rem;

    }

    .app-container {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;


        .time-log-container {
            min-width: 500px;
            table {
                tr {
                    th {
                        padding: .5rem 1rem;
                        background-color: #dedede;
                        border-bottom: 1px solid black;
                    }
                    td {
                        padding: .5rem .25rem;
                        text-align: center;
                        border-left: 1px solid black;
                        border-bottom: 1px solid black;
                        &:last-child {
                          border-right: 1px solid black;
                        }
                    }
                    &.continuation {
                        td {
                            background-color: rgba(0, 200, 0, .1);
                        }
                    }
                    
                }
            }

            .button-container {
                margin: 1rem 0;
                display: flex;
                flex-direction: row;

                button {
                    margin-right: 1rem;
                }

            }

            #octobutton {
                background-image: url(octomonk-trans-wt-bg.png);
                width: 80px;
                height: 85px;
                background-size: cover;
                background-position: bottom;
                border: 0;
                
                &.on {
                    background-color: green;
                }
                &.off {
                    background-color: #9b9b9b;
                }
            }
        }

        .side-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 1rem;
            align-items: flex-start;

            .time-container {
                margin-bottom: 1rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                label {
                    margin-right: .5rem;
                    min-width: 140px;
                    display: inline-block;
                }
                .time-box-container {
                    display: flex;
                    flex-direction: row;
                    align-items:center;
                    border: 1px solid black;

                    input {
                        padding: 4px;
                        width: 16px;
                        border: 0;
                        outline: none;
                        &:first-child {
                            padding-right: 2px;
                        }
                        &:last-child {
                            padding-left: 2px;
                        }
                    }   

                    .colon {
                        padding-bottom: 4px;
                    }
                }
            }
            .time-display-container {
                display: flex;
                flex-direction: row;
                margin-bottom: 1rem;

                .value {
                    margin-left: 1rem;
                    font-size: 1.05rem;
                }
            }
        }
    }
    .fireworks-container {
        & > * {
            z-index: -1;
        }
    }
}